body {
  font-family: Arial;
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
}

form {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  border: 1px solid #aaa;
  padding: 10px;
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

button {
  padding: 6px 10px;
  margin-top: 5px;
  cursor: pointer;
}
